<template>
  <form @submit.prevent="submitForm">
    <div class="form-control">
      <label
        for="user-name"
        :class="userValidity === 'invalid' ? 'invalid-label' : null"
        >Your Name</label
      >
      <input
        id="user-name"
        name="user-name"
        type="text"
        v-model.trim="userName"
        @blur="checkUserValidity"
        :class="userValidity === 'invalid' ? 'invalid-input' : null"
      />
      <p class="red-text" v-if="userValidity === 'invalid'">
        Bro, write a name... I mean, I can call you "Empty", but that feels, a
        bit... empty...
      </p>
    </div>
    <div class="form-control">
      <label for="age">Your Age (Years)</label>
      <input
        id="age"
        name="age"
        type="number"
        v-model.number="userAge"
        ref="ageInput"
      />
    </div>
    <div class="form-control">
      <label for="referrer">How did you hear about us?</label>
      <select id="referrer" name="referrer" v-model="referrer">
        <option value="google">Google</option>
        <option value="wom">Word of mouth</option>
        <option value="newspaper">Newspaper</option>
      </select>
    </div>
    <div class="form-control">
      <h2>What are you interested in?</h2>
      <div>
        <input
          id="interest-news"
          name="interest"
          type="checkbox"
          v-model="interest"
          value="news"
        />
        <label for="interest-news">News</label>
      </div>
      <div>
        <input
          id="interest-tutorials"
          name="interest"
          type="checkbox"
          v-model="interest"
          value="tutorials"
        />
        <label for="interest-tutorials">Tutorials</label>
      </div>
      <div>
        <input
          id="interest-nothing"
          name="interest"
          type="checkbox"
          v-model="interest"
          value="nothing"
        />
        <label for="interest-nothing">Nothing</label>
      </div>
    </div>
    <div class="form-control">
      <h2>How do you learn?</h2>
      <div>
        <input
          id="how-video"
          name="how"
          type="radio"
          v-model="how"
          value="video-courses"
        />
        <label for="how-video">Video Courses</label>
      </div>
      <div>
        <input
          id="how-blogs"
          name="how"
          type="radio"
          v-model="how"
          value="blogs"
        />
        <label for="how-blogs">Blogs</label>
      </div>
      <div>
        <input
          id="how-other"
          name="how"
          type="radio"
          v-model="how"
          value="other"
        />
        <label for="how-other">Other</label>
      </div>
    </div>
    <div class="form-control">
      <input
        type="checkbox"
        id="confirm-terms"
        name="confirm-terms"
        v-model="confirmTerms"
      />
      <label for="confirm-terms">All that I said is TRUE!</label>
    </div>
    <div v-if="errorTerms">
      <p class="red-text">Yo, check the box, or speak the truth!</p>
    </div>

    <div>
      <button type="submit">Save Data</button>
    </div>
  </form>
  <div class="white" v-if="showResults">
    <p>
      <span v-if="userName !== ''"> So your name is: {{ userName }}</span
      ><span
        v-if="
          userAge !== null &&
          userAge !== 0 &&
          userAge !== undefined &&
          userAge !== ''
        "
        >, and you are {{ userAge }} years old</span
      ><span v-if="userName !== ''">.</span>
    </p>
    <p>You've heard about this from {{ checkReferrer }} apparently.</p>
    <p v-if="interest.length > 0">
      It's a fact that you are interested in
      <span v-for="int in interest" :key="int">{{ int + ' and ' }} </span>
      <span> that is completely fine.</span>
    </p>
    <p v-if="how !== null">
      You have learned this from {{ checkHow }}, you said?
    </p>
    <p>Hmmm... that is very interesting</p>
    <p>
      Well since you have agreed that all that you wrote here is
      {{ confirmTerms }} ...
    </p>
    <p>Lets Proceed!</p>
    <button @click="closeClicked">Click This Button!</button>
  </div>
</template>

<!-- So if you give the checkboxes/radio buttons the same data name (v-model="name") 
they get grouped, and if they are checkboxes, their "value"s are gonna get put into
an array with the selected checkboxes value's as elements. So, initialize in data as array: [],
For radio buttons, the value is saved as string of the selected input "value" property.
If checkbox is only one (not grouped), it will return true or false -->

<script>
export default {
  data() {
    return {
      userName: '',
      userAge: null,
      referrer: 'wom',
      interest: [],
      how: null,
      confirmTerms: false,
      showResults: false,
      errorTerms: false,
      userValidity: 'pending...',
    };
  },
  methods: {
    submitForm() {
      console.log(this.userAge);
      if (this.confirmTerms === false) {
        this.errorTerms = true;
        this.showResults = false;
      } else {
        this.showResults = true;
        this.errorTerms = false;
      }
    },
    closeClicked() {
      this.showResults = false;
      this.confirmTerms = false;
      this.userName = '';
      this.userAge = null;
      this.referrer = 'google';
      this.interest = [];
      this.how = null;
      this.errorTerms = false;
    },
    checkUserValidity() {
      if (this.userName === '') {
        this.userValidity = 'invalid';
      } else this.userValidity = 'valid';
    },
  },
  computed: {
    checkReferrer() {
      if (this.referrer === 'wom') {
        return 'Word of Mouth';
      } else if (this.referrer === 'google') {
        return 'Google';
      } else {
        return 'Newspapers';
      }
    },
    checkHow() {
      if (this.how === 'video-courses') {
        return 'Video Courses';
      } else if (this.how === 'blogs') {
        return 'Blogs';
      } else {
        return 'other sources';
      }
    },
  },
};
</script>

<style scoped>
form {
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #ffffff;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

input,
select {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: auto;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  font-weight: normal;
}

button {
  font: inherit;
  border: 1px solid #0076bb;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002350;
  background-color: #002350;
}
.white {
  background-color: white;
}
.red-text {
  color: red;
}
.invalid-label {
  color: red;
}
.invalid-input {
  border-color: red;
}
</style>